@import "../../styles.scss";

.shopping-cart {
    padding: 50px;
    margin: 0px auto;
    color: $gray;

    h3 {
        margin-bottom: 50px;
    }

    .empty-cart {
        align-items: center;
        margin: 0px auto;
        display: flex;
        flex-direction: column;

        .emty-cart-img {
            width: 10%;
            color: $gray;
        }

        .fz-25 {
            font-size: 25px
        }
    }

    .table {
        width: 100%;
        color: $gray;

        .table-headings {
            display: grid;
            grid-gap: 50px;
            margin: 50px 10px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            font-weight: bold;
            font-size: 19px;
        }

        .border-bot {
            border-bottom: 2px solid $pink;
        }

        .quantity-button {
            display: flex;

            .inc-dec-btn {
                height: fit-content;
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    color:$pink;
                }
            }
        }
    }

    .cart-items {
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background: $white;

        .added-product {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 50px;
            margin: 50px 10px;

            .added-product-image {
                width: 150px;
            }

            .fa-trash-can {
                font-size: 25px;
                cursor: pointer;
                &:hover{
                    color:$pink;
                }
            }
        }

        .display-flex {
            display: flex;
            border-top: 2px solid $pink;
            width: 100%;
            justify-content: center;

            p {
                margin: 10px;
                font-weight: bold;
                font-size: 19px;
            }
        }
    }
}